
:root {
    --bg-color: #0B131E;
    --bg-combo-color:#202B3B;
    --bg-nav : #161d28;
    --text-color: #F0F1F1;
    --button-bg:#0095FF;
    --checkbox-bg:#9ea0a0;
    --button-text: white;
    --bg-setting: #0B131E;
    --bg-setting-select: #35455E;
  }
  
  

   html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    
}

  body {
    
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    /* transition: background-color 0.1s, color 0.1s; */
  }


/* Light Mode Styles */
body.light-mode {
    --bg-color: #F5F5F5;
    --bg-combo-color:#EAECEF;
    --text-color: black;
    --bg-nav : #d7d9dc;
    --button-text: white;
    --bg-setting: #C4CAD3;
    --bg-setting-select: #DDE0E4;

  }

  body.modal-open {
    overflow: hidden;
  }
  /* basic styles */

  .btn-att{
    background-color: var(--button-bg);
    color: var(--button-text);
  
}




/* intro page */
.umbrella{

    display: flex;
    justify-content: center;
    align-items: end;
}


.arrow-move {
  transition: transform 0.5s ease-in-out;
}

.btn:hover .arrow-move {
  animation: slide-arrow 0.5s forwards ease-in-out; /* Play on hover */
}
@keyframes slide-arrow {
  0% {
    transform: translateX(0);   /* Start at normal position */
    opacity: 1;
  }
  30% {
    transform: translateX(100%); /* Move out of the right side */
    opacity: 0;  /* Disappear */
  }
  50% {
    transform: translateX(-100%); /* Reappear on the left side */
    opacity: 0;  /* Still invisible */
  }
  70% {
    transform: translateX(0);    /* Move back to original position */
    opacity: 1;  /* Fully visible again */
  }
  100% {
    transform: translateX(0);    /* Stay in original position */
    opacity: 1;
  }
}

/* home page */

.nav--bar{

  background-color: var(--bg-combo-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 32px;
  min-width: 74px;
}

.nav--bar--md{

  background-color: var(--bg-nav);
  position: sticky;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px;
  width: 100%;
  height: 80px;
}
.nav--svg ,g,path,rect,polygon{

  fill: var(--text-color);
  stroke: var(--text-color);
  color: var(--text-color);
 
  
}



.daily--forecast{

display: flex;
flex-direction: column;

}

.daily--forecast>.today--forecast{

  background-color: var(--bg-combo-color);
  border-radius: 15px;
  padding: 12px;
}

.daily--forecast>.other--parameter{

  background-color: var(--bg-combo-color);
  border-radius: 15px;
  padding: 12px;
  margin-block: 1rem;
}

.search{

  width: 100%;
  padding: 8px 12px;
  border-radius: 12px;
  color: var(--text-color);
  background-color: var(--bg-combo-color);

}

.search:focus{
  
  outline: none;
}

.seven-day--forecast{
background-color: var(--bg-combo-color);
border-radius: 12px;
padding: 8px 12px;
}

/* City */

.city--added{

  background-color: var(--bg-combo-color);
  border-radius: 12px;
  padding: 12px;
  margin: 12px 0;
  
}

.current-location{

  transform: rotate(45deg);
  margin:0 12px;

}

/* setting */

.units{

  background-color: var(--bg-combo-color);
  padding: 18px;
  border-radius: 12px;
  margin: 12px 0;
}

.setting--items--2{

  background-color: var(--bg-setting);
  padding: 5px 3px;
  border-radius: 12px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  text-align: center;


}

.setting--items--3{

  background-color: var(--bg-setting);
  padding: 5px 3px;
  border-radius: 12px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  text-align: center;


}


.setting--items--4{

  background-color: var(--bg-setting);
  padding: 5px 3px;
  border-radius: 12px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  text-align: center;


}

.setting--selected--item{
  background-color: var(--bg-setting-select);
  border-radius: 9px;
}

.setting--items--toggle{
  background-color: var(--bg-setting-select);
  border-radius: 12px;
  padding: 18px;
  margin: 12px 0;
  display: flex;
  justify-content: space-between;
}

.toggle-checkbox {
  width: 42px;
  height: 20px;
  appearance: none; 
  background-color: var(--checkbox-bg);
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  transition: background-color 0.3s ease;
}
.toggle-checkbox::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}
.toggle-checkbox:checked {
  background-color: var(--button-bg);
}
.toggle-checkbox:checked::before {
  transform: translateX(22px);
}


  @media screen and (min-width:1024px) {

    /* intro page */
    .umbrella{
        border-radius: 25px;
    background-color: var(--bg-combo-color);
    align-items: center;
    }

  }